/* default attributes for all elements */
body {
    font-family: sans-serif;
    background-image: url("assets/images/paper-background.jpg");
    width: 960px;
    margin: auto;
}

nav {
    background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Navigation menu is basically a horizontal list */
li {
    float: right;
}

li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: turquoise;
}